/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* Header unde e fixat meniul */
.header {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}


/* Reset box */
* {
  box-sizing: border-box;
}

/* Meniu */
li {
	display: inline-block;
	padding: 10px;
    font-family: 'Molengo', sans-serif;
	font-weight: 400;
	font-size: 16px;
    text-transform: uppercase;
    color: #14213D;
}

#logo {
	padding: 0px 50px;
	line-height: 50px;
    font-family: 'Dynalight', sans-serif;
	font-size: 60px;
	margin: 10px;
	color: red;
	text-transform: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover {
	color: #7332cc;
	text-decoration: none;
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/remina.png);
	background-repeat: no-repeat;
}

/* Poza principala. Trebuie transformata in slide dupa ce invat JavaScript */

	.main {
    width: 90%;
    height: 480px;
    margin: 100px 60px 120px 60px;
    text-align: center ;
    animation: imageAnimation 30s linear infinite 0s;
	  backface-visibility: hidden;
	  background-position: center center;
	  z-index: 0;
	  background-size: cover;
	  color: transparent;
		}

   .main { background-image: url('img/barcelona1.jpg'); }

/* Animatie imagine principala */

@keyframes
	imageAnimation {  0% {
	 animation-timing-function: ease-in;
	 opacity: 0;
	}
	 8% {
	 animation-timing-function: ease-out;
	 opacity: 1;
	}


  
   
}

 /* Buton call to action si text */
.main h1 {
	color: #fff !important;
	text-align: center;
	padding: 3em;
	font-size: 30px;
	top: 50px;
	font-family: 'Molengo', sans-serif;
}

.btn-main {
	border: 2px solid #FFF;
	margin: 2px;
	padding: 3px 10px;
	color: #fff;
	bottom: 100px;
	font-weight: bold;

}


/*Style for blog posts (img) */
div.gallery {
    border: 1px solid #ccc;


}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.desc1 {
    padding: 5px;
    text-align: center;
}

.blogpost {
    padding: 0 6px;
    float: left;
    width: 28%;
    margin: -50px 56px;
}

/* About Remina */
.aboutremina {
    padding: 0 6px;
    float: right;
    width: 20%;
    margin-right: 56px;
    margin-top: -56px;

  
}


div.galleryremina img {
    width: 100%;
    height: auto;
 
}

/* Row2 style */
.blogrow2 img {
	padding: 0 6px;
    float: left;
    margin-top: 100px;
    margin-left: 56px;
    width: 28%;
}

.blogrow3 img {
	padding: 0 6px;
    float: left;
    margin-top: 100px;
    margin-left: 110px;
    width: 28%;
	
}

/* Box for Social Media */

.container {
	height: 3em;
	left: 85%;
	margin: -1.5em 0 0 -6em;
	position: relative;
	top: 800px;
	width: 12em;
}

/* ---------- SOCIAL Media ---------- */

.social {
	position: relative;
	height: 3em;
	width: 10.5em;
	top: 100px;

}

.social li {
	display: block;
	height: 3em;
	line-height: 3em;
	margin: -1.2em;
	position: absolute;
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	-ms-transition: -ms-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 3em;
}

.social a {
	color: #fffdf0;
	display: block;
	height: 3em;
	line-height: 3em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 3em;	
}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
	-moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
	-o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
	background: url('img/fb.jpg');
	left: 0;
	top: 0%;
}

.twitter {
	background: url('img/twitter.jpg');
	bottom: 0;
	left: 25%;
}

.instagram {
	background: url('img/instagram.png');
	left: 50%;
	top: 0%;
}

.youtube {
	background: url('img/youtube.png');
	bottom: 0;
	left: 75%;
}

.pinterest {
	background: url('img/pinterest.png');
	left: 100%;
	top: 0%;
}

/* Search */

.search {
	float: left;
	bottom: 0;
	padding-left: 90px;
	padding-top: 200px;
	border: 10px solid #FFF;
}

/* Footer */
#footer-wrap {
  clear: both;
  width: 910px;
  font-size: 95%;
  padding: 20px 0;
  text-align: left;    
}
#footer-wrap a {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}
#footer-wrap a:hover {
  color: #7332cc;  

}
#footer-wrap p {
  padding: 10px 0;
}
#footer-wrap h2 {
  color: #666666;
  margin: 0;
  padding: 0 10px; 
}

/* footer */
#footer {
  clear: both;
  color: #666;  
  margin: 0 auto 10px auto; 
  width: 850px;
  padding: 5px 0;
  text-align: center;
  background: #F8F7F7;
  border-top: 1px solid #F2F2F2; 
}

/*Responsive for mobile and tablet (meniu and header)*/


@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#logo {
		display: none;
	}

	#menu-icon {

		display:inline-block;

	}

	nav ul {
		display: none;
	}

	nav ul nav:active ul { 

		
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	h1 {
		text-align:center;
	}

	nav:hover ul {

		display: block;

	}

.main {
	margin: 40px 10px;
	width: 100%;

}

}


.footer {
  color: #fff;
  clear: both;
  margin: 0em 0em 0em 0em;
  padding: 0.75em 0.75em;
  background: #000;
  position: relative;
  top: 490px;
  border-top: 1px solid #000;
}



/*Blog Post - img for blog posts and */


@media only screen and (max-width: 700px){
    .blogpost {
        width: 49.99999%;
        margin: 6px 0;
    }

    .aboutremina {
        width: 49.99999%;
        margin: 6px 0;
    }

    .btn-blog {
	text-align: center;
}

.blogrow2 img {
	width: 50%;
	margin: 6px 0;
}

.blogrow3 img {
	width: 50%;
	margin: 6px 0;
}

.search {
	display: none;
}

.social {
	width: 50%;
    top: 100px;
}

}

@media only screen and (max-width: 500px){
    .blogpost {
        width: 100%;
    }

    .aboutremina {
        width: 100%;
	    }

    .btn-blog {
	text-align: center;
}

.blogrow2 img {
	width: 100%;
	margin: 6px 0;

}

.blogrow3 img {
	width: 100%;
	margin: 6px 0;
}

.search {
	display: none;
}

.social {
	position: relative;
	height: 2em;
	width: 12.5em;
	top: 126%;
	right: 7.5em;

}

.social li {
	display: block;
	height: 3em;
	line-height: 3em;
	margin: -1.2em;
	position: absolute;
	-webkit-transition: -webkit-transform .6s;
	-moz-transition: -moz-transform .6s;
	-ms-transition: -ms-transform .6s;
	-o-transition: -o-transform .6s;
	transition: transform .6s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 3em;
}

.social a {
	color: #fffdf0;
	display: block;
	height: 3em;
	line-height: 3em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 3em;	
}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
	-moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
	-o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
	background: url('fb.jpg');
	left: 0;
	top: 0%;
}

.twitter {
	background: url('twitter.jpg');
	bottom: 0;
	left: 25%;
}

.instagram {
	background: url('instagram.png');
	left: 50%;
	top: 0%;
}

.youtube {
	background: url('youtube.png');
	bottom: 0;
	left: 75%;
}

.pinterest {
	background: url('pinterest.png');
	left: 100%;
	top: 0%;
}
}