/*RESET*/

/* Header unde e fixat meniul */
.header {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000; }

/* Reset box */
* {
  box-sizing: border-box; }

/* Meniu */
li {
  display: inline-block;
  padding: 10px;
  font-family: 'Molengo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #14213D; }

#logo {
  padding: 0px 50px;
  line-height: 50px;
  font-family: 'Dynalight', sans-serif;
  font-size: 60px;
  margin: 10px;
  color: red;
  text-transform: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: #7332cc;
  text-decoration: none; }

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(img/remina.png);
  background-repeat: no-repeat; }


img {
  height: 180px;
  width: 180px;
}
  .img-circle {
  border-radius: 50%;
  position: relative;
}
.row {
  margin-top: 100px;
}
.btn-secondary {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: none;
    color: black;
}

.btn-secondary:hover {
  color: #7332cc;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}


.img-fluid {
  width: 75%;
}

/*Responsive for mobile and tablet (meniu and header)*/
@media only screen and (max-width: 640px) {
  header {
    position: absolute; }
  #logo {
    display: none; }
  #menu-icon {
    display: inline-block; }
  nav ul {
    display: none; }
  nav ul nav:active ul {
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px; }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0; }
  h1 {
    text-align: center; }
  nav:hover ul {
    display: block; }
  .main {
    margin: 40px 10px;
    width: 100%; } }
